/Rezendao/nbproject/private/
/Rezendao/build/
Rezendao/nbproject/

Rezendao/manifest.mf

Rezendao/build.xml

Rezendao/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar

Rezendao/lib/nblibraries.properties
/Cineminha/nbproject/private/
/Cineminha/build/